body {
   color: var(--bs-white);
   background-color: var(--bs-dark); 
}

.btn:hover{
   color: black;
   transform: translateY(-5px);
}

.xl-text {
   font-size: 85px;
}

header{
   background: linear-gradient(128deg, rgba(63, 2, 71, 0.9), rgba(0, 0, 0, 0.9)),
}

.decoration-star{
   bottom: -80px;
   width: 2000px;
   right: -300px;
}

.binance{
   top: 400px;
   left: 200px;
   width: 150px;
   z-index: 5;
}

.osmosis{
   left:  20px;
   top: 150px;
   z-index: 1;
}

.ethereum{
   right: 120px;
   top: 150px;
   width: 170px;
   z-index: 5;
}

.crypto{
   right: 50px;
   bottom: 150px;
   width: 150px;
   z-index: 1;
}

.thorchain{
   right: 10px;
   top: 50px;
   width: 100px;
}

.sth:hover{
   transform: scale(1.1);
   cursor: pointer;
}

// logos

.logo-scroll {
   overflow: hidden;
   white-space: nowrap;
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0;
}

.logo-track {
   display: inline-block;
   white-space: nowrap;
   animation: scroll-left 15s linear infinite;
}

.logo-track img {
   margin: 0 20px;
   vertical-align: middle;
}
.logo-track img:hover{
   cursor: pointer;
}

.logo-scroll:hover .logo-track  {
   animation-play-state: paused;
}

@keyframes scroll-left {
   0% {
      transform: translateX(0);
   }

   100% {
      transform: translateX(-50%);
   }
}

// overflow
body{
   overflow-x: hidden;
}

.blockchain_img{
   top: -280px;
   left : 200px;
}

.sdk_background_1{
   top: -400px;
   width: 1700px;
   left: -200px;
   z-index: -100;
}

.sdk_background{
   top: -600px;
   right: -500px;
}
.sdk_background_3 {
   top: -300px;
   right: -350px;
   z-index: -10;
}

.sdk_background_4 {
   top: 0px;
   right: -350px;
   z-index: -20;
}
.sdk_background_5 {
   bottom: 100px;
   right: -300px;
   z-index: -70;
}

.smart_contract{
   top: -100px;
   left: -200px;
   z-index: -10;
   width: 800px;
}

.smart_contract_1 {
   top: -200px;
   left: -250px;
   z-index: -50;
   width: 900px;
}

.stack_background{
   top: -120px;
   left: 120px;
   z-index: -200;
}

.building_background{
   z-index: -20;
}

footer a:hover {
   color: #f7f4f4;
   // text-decoration: underline;
}

 ::placeholder {
    color: #b3b2b2 !important;
    opacity: 0.7;
 }
 


@media (max-width: 1200px) {

   .new{
      background: linear-gradient(128deg, rgba(63, 2, 71, 0.9), rgba(0, 0, 0, 0.9));
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      // text-align: center;
   }

      .binance {
         display: none;
      }
   
      .ethereum {
        display: none;
      }

   .xl-text{
      font-size: 55px;
   }

   .navbar-brand, .navbar-toggler{
      margin-top: 20px;
   }

   .blockchain_img {
      display: none;
   }

   .news{
      display: none;
   }

   .smart{
      margin: 0;
   }

   .blockchain{
      margin: 0;
   }

   .blockchain .blockchn{
      margin:  0 !important;
   }
   .blockchain .row{
      margin: 0 !important;
   }

   .sdk .container{
      padding-top: 0 !important;
      padding-bottom: 0 !important;
   }

   .smart{
      margin: 0 !important;
   }

   .card {
      margin-bottom: 10px;
   }

   
}

